* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-rick-and-morty {
  padding: 1vmax;
  width: 100%;
}

header h1 {
  color: #105717;
  font-size: 4.5vmax;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INPUT DE PESQUISA */
.search-input {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 50vmax;
}

.search-input input {
  border: none;
}

.search-input button {
  background-color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-input button img {
  width: 20px;
  height: 20px;
}

/* DADOS */

.status-alive::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7cf448;
  margin-right: 5px;
}

.status-dead::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: crimson;
  margin-right: 5px;
}

.status-unknown::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.status{
  display: flex;
}

main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-top: 6vmax;
  width: 75vw;

  display: flex;
  justify-content: space-between;

  padding-bottom: 6vmax;
}

.card {
  display: flex;
  height: 12vmax;
  width: 30vmax;
  border-radius: 1vmax;

  overflow: hidden;
}

.imagem img{
  width: 20px;
}

.title-card h3 {
  color: #105718;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1vmax;
}

.paragrafo-cinza {
  color: #858585;
}
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pages {
  display: flex;
}

#pages li {
  padding: 1vmax;
  margin: 2vmax;
  list-style: none;
  font-family: "VT323", monospace;
  font-size: 1.5vmax;
  text-align: center;
  width: 3.5vmax;
  height: 3.5vmax;
  border: #105717 solid 1px;
  background-color: #105717;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#pages li:hover {
  background-color: #0c4313;
}

#pagination button {
  background-color: white;
  border: none;
  font-size: 3vmax;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.imagem-rick-and-morty {
  width: 30vmax;
}

footer {
  background-color: #1f2821;
  color: #7d7e7d;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
}

footer ul li {
  list-style: none;
  padding: 5vmax 4vmax 6vmax 4vmax;
}

footer p {
  padding: 4vmax;
}
